body{
    background-color:whitesmoke
}


* {
	box-sizing: border-box;
    text-align: center;
    font-family: 'Gaegu', cursive;
    font-family: 'Gowun Batang', serif;
}

.division-line {
    border-top: 1px solid #444444;
    margin: 30px auto;
    width: 300px;
}        



footer {
    color:palevioletred;
    font-style:italic;
}

h1 {
    color:pink;
    font-size: 8em;
    font-family: 'Gaegu', cursive;
    font-family: 'Gowun Batang', serif;
    font-family: 'Noto Sans KR', sans-serif;

}

h2{
    color:pink;
    font-size: 1.7em;
    font-family: 'Gowun Batang', serif;
    font-family: 'Noto Sans KR', sans-serif;
}

p {
    font-style:italic
}

